<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the User notes demo app</h1>

  <h2>
    This is the home page. You will be able to create notes after signing up.
  </h2>

  <%= link_to 'Sign up', register_path, class: 'btn btn-large btn-primary' %>
</div>